@import "tailwindcss";


/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #221B24;
}

::-webkit-scrollbar-thumb {
  background: #0858d8; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2065c0; 
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1163bb #221B24; /* Thumb color matches 'prime', track matches 'prime-dark' */
}

#loader-wrapper {
  transition: opacity 0.5s ease-out;
}
